---
import Layout from "../layouts/Layout.astro";
---

<link rel="stylesheet" href="/css/home.css" />
<Layout title="Home">
  <section
    class="flex flex-col items-center justify-center w-screen h-screen text-white"
    id="mainSect"
  >
    <div class="mb-4 overflow-hidden rounded-full w-60 h-60" id="meContainer">
      <img class="h-full" src="/img/me.jpg" />
    </div>
    <h1 class="text-5xl font-bold text-center">Hi, I'm a backend developer</h1>
  </section>
</Layout>
