---
import Layout from "../layouts/Layout.astro";
---

<link rel="stylesheet" href="/css/home.css" />
<Layout title="Home">
  <section
    class="flex flex-col items-center justify-center w-screen h-screen text-white"
    id="mainSect"
  >
    <div class="mb-4 overflow-hidden rounded-full w-60 h-60" id="meContainer">
      <img class="h-full" src="/img/me.jpg" />
    </div>
    <h1 class="text-5xl font-bold text-center">Hi, I'm a backend developer</h1>
    <a href="#skillsSect" class="mt-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
        style="transform: scale(200%, 200%);"
      >
        <path
          fill-rule="evenodd"
          d="M20.03 4.72a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 11.69l6.97-6.97a.75.75 0 011.06 0zm0 6a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06L12 17.69l6.97-6.97a.75.75 0 011.06 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </section>
  <section
    id="skillsSect"
    class="flex flex-col items-center justify-around min-h-screen text-white bg-gray"
  >
    <h1 class="mt-4 mb-8 text-5xl font-bold">I can use</h1>
    <div id="skillsContainer" class="flex flex-wrap justify-center">
      <img class="m-2 h-44" src="/img/html5.svg" />
      <img class="m-2 h-44" src="/img/css3.svg" />
      <img class="m-2 h-44" src="/img/javascript.svg" />
			<img class="m-2 h-44" src="/img/tailwindcss.svg" />
      <img class="m-2 h-44" src="/img/php.svg" />
      <img class="m-2 h-44" src="/img/laravel.svg" />
    </div>
    <a href="#meSect" class="mt-8 mb-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
        style="transform: scale(200%, 200%);"
      >
        <path
          fill-rule="evenodd"
          d="M20.03 4.72a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 11.69l6.97-6.97a.75.75 0 011.06 0zm0 6a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06L12 17.69l6.97-6.97a.75.75 0 011.06 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </section>
</Layout>
