---
import Layout from "../layouts/Layout.astro";
---

<script defer>
  const returnUrl = () => {
    return {
      url: "https://api.github.com/users/JesusEspanaSandoval/repos",
      characters: [],
    };
  };
</script>
<link rel="stylesheet" href="/css/home.css" />
<Layout title="Home">
  <section
    class="flex flex-col items-center justify-center w-screen h-screen text-white"
    id="mainSect"
  >
    <div class="mb-4 overflow-hidden rounded-full w-60 h-60" id="meContainer">
      <img class="h-full" src="/img/me.jpg" />
    </div>
    <h1 class="text-5xl font-bold text-center">Hi, I'm a backend developer</h1>
    <a href="#skillsSect" class="mt-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
        style="transform: scale(200%, 200%);"
      >
        <path
          fill-rule="evenodd"
          d="M20.03 4.72a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 11.69l6.97-6.97a.75.75 0 011.06 0zm0 6a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06L12 17.69l6.97-6.97a.75.75 0 011.06 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </section>
  <section
    id="skillsSect"
    class="flex flex-col items-center justify-around min-h-screen text-white bg-gray"
  >
    <h1 class="mt-4 mb-8 text-5xl font-bold">I can use</h1>
    <div id="skillsContainer" class="flex flex-wrap justify-center">
      <img class="m-2 h-44" src="/img/html5.svg" />
      <img class="m-2 h-44" src="/img/css3.svg" />
      <img class="m-2 h-44" src="/img/javascript.svg" />
      <img class="m-2 h-44" src="/img/tailwindcss.svg" />
      <img class="m-2 h-44" src="/img/php.svg" />
      <img class="m-2 h-44" src="/img/laravel.svg" />
    </div>
    <a href="#projectsSect" class="mt-8 mb-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
        style="transform: scale(200%, 200%);"
      >
        <path
          fill-rule="evenodd"
          d="M20.03 4.72a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 11.69l6.97-6.97a.75.75 0 011.06 0zm0 6a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06L12 17.69l6.97-6.97a.75.75 0 011.06 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </section>
  <section
    x-data="returnUrl()"
    x-init="fetch(url).then(response => response.json()).then(response => { characters = response })"
    id="projectsSect"
    class="flex flex-col min-h-screen text-white"
  >
    <div class="flex items-center ml-8">
      <a
        href="https://github.com/JesusEspanaSandoval/"
        target="_blank"
        class="mt-8 mb-8 ml-4 text-5xl font-bold text-white max-md:ml-0"
      >
        <i class="bi bi-github"></i>
        My projects in Github
      </a>
    </div>

    <template x-for="project in characters">
      <div
        class="mb-4 ml-8 font-semibold text-white"
        x-show="project.name != 'JesusEspanaSandoval'"
      >
        <a
          class="text-2xl font-bold text-blue-500"
          target="_blank"
          x-bind:href="project.html_url"
          x-text="project.name"></a>
        <div class="flex">
          <i class="bi bi-eye-fill"></i>
          <p class="ml-2" x-text="project.watchers_count"></p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 ml-4 invert"
            viewBox="0 0 512 512"
            ><path
              d="M448 96a64 64 0 10-96.31 55.21c-1.79 20.87-11.47 38.1-28.87 51.29C305.07 216 280.09 224 256 224s-49.07-8-66.82-21.5c-17.4-13.19-27.08-30.42-28.87-51.29a64 64 0 10-64.11.29c2.08 40.87 21.17 76.87 54.31 102C171.3 269.26 197 280.19 224 285.09v75.52a64 64 0 1064 0v-75.52c27-4.9 52.7-15.83 73.49-31.59 33.14-25.13 52.23-61.13 54.31-102A64 64 0 00448 96zM128 64a32 32 0 11-32 32 32 32 0 0132-32zm128 384a32 32 0 1132-32 32 32 0 01-32 32zm128-320a32 32 0 1132-32 32 32 0 01-32 32z"
            ></path></svg
          >
          <p class="ml-1" x-text="project.forks"></p>
          <i class="ml-4 bi bi-star-fill"></i>
          <p class="ml-1" x-text="project.stargazers_count"></p>
        </div>
        <div class="flex items-center">
          <span class="inline mr-2">Language:</span>
          <p class="inline text-2xl text-blue-300" x-text="project.language">
          </p>
        </div>
        <p x-text="project.description"></p>
        <p x-show="project.description == null">
          This project don't have description
        </p>
      </div>
    </template>
    <a href="#contactSect" class="self-center mt-8 mb-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
        style="transform: scale(200%, 200%);"
      >
        <path
          fill-rule="evenodd"
          d="M20.03 4.72a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 11.69l6.97-6.97a.75.75 0 011.06 0zm0 6a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06L12 17.69l6.97-6.97a.75.75 0 011.06 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </section>
  <section id="contactSect" class="flex flex-col items-center justify-center h-screen bg-gray">
		<h1 class="mb-4 text-5xl font-bold text-center text-white">You wan't contact me?</h1>
    <form class="flex flex-col w-4/5" name="contacteMe" netlify>
      <input
        type="text"
        name="name"
        id="name"
				class="p-4 mb-4 outline-none"
        placeholder="Your name or Company name"
      />
      <textarea
        name="message"
        id="msg"
				class="p-4 mb-2 outline-none resize-none"
        cols="30"
        rows="10"
        placeholder="Send me a message"></textarea>
				<input class="p-4 font-bold bg-white" type="submit" value="Submit">
    </form>
  </section>
</Layout>
